*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --div-min-width:none;
}

.disp-flx-ctr{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* ---------------------navbar styles start here-------------------------------------- */
nav{
    height: 4rem;
    width: 100vw;
    background-color: #131418;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
}

.logo span{
    color: #fff;
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 50vw;
    /* padding: 0 0.2vw; */
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
    color: #fff;
    padding: 1px;
}
.nav-links li a:hover {
    color: orange;
}
.nav-links li {
    position: relative;
}
.nav-links li a::before {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: orange;
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;

}
.nav-links li a:hover::before{
    width: 80%;
}


/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
    }
    .logo{
        visibility: hidden;
    }
    .hamburger{
        display:block;
        position: absolute;
        padding: 2px;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }

    .hamburger:hover{
        border: 2px solid orange;


    }
    .nav-links{
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* ---------------------navbar styles ends here-------------------------------------- */

body{
 display: flex;
 flex-direction: column;
 background: #000;
 /* min-height: 200vh; */
 justify-content: space-between;
}


/* --------------------banner style--------------------- */
.banner
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;    
}

.banner .first-div{
    position: relative;
    top: 4rem;
    display: flex;
    color: white;
    background-image: url(https://images.pexels.com/photos/5861723/pexels-photo-5861723.jpeg?cs=srgb&dl=pexels-ravi-roshan-5861723.jpg&fm=jpg);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-bottom: 100px;
}

.reverberance-title{
   font-size: min(10vw,10vh);
}
.banner .mb-clm img{
    /* padding: 1vw; */
    width: 500px;
    height: 350px;
    /* box-shadow: ; */
    box-shadow: 22px -16px orange;
}

.banner .mb-clm div {
    width: 80vw;
    padding: 28px;
}

.banner .mb-clm div div h1{
    text-align: center;
    font-size: 5vh;
    margin-bottom: 8px;

} 
.banner .mb-clm div div h1,
.banner .mb-clm div div p
{
    color: #fff;
} 

.banner .mb-clm div .description{
    display: flex;
    flex-direction: column;
}

.banner .mb-clm div .description p{ 
    width: 80%;
    text-align: center;
}

.banner .second-div div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    min-height:var(--div-min-width);
}

.banner .third-div div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    min-height:var(--div-min-width);
}

.banner .forth-div div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    min-height:var(--div-min-width);   
}

.banner .fifth-div div{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    min-height:var(--div-min-width);
}
 .img-box{
    display: inline-block;
    width: 20vw;
    height: 20vh;
 }

/* --------------------banner style--------------------- */

/*------------------------------------- footer styles----------------------------------------- */
footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    background-color: orange;
    padding: 20px 50px;
}

footer  .footer_social_icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    
}
footer ul{
    list-style: none;
}
footer .footer_social_icon li a{
    font-size: max(2vh ,2vw,40px);
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    
}
footer .footer_menu{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}



footer .footer_menu  li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

footer .footer_menu  li a:hover{
opacity: 1;
}

footer .footer_social_icon li a:hover{
    transform: translateY(-15px);
}

footer p{
    color: #fff;
    opacity: 0.75;
    margin-top: 15px;
    margin-bottom: 10px;

}

/* @media(prefers-reduced-motion){ */
    .hidden1{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1.25s;
    
    }
    .hidden2{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(100%);
        transition: all 1.25s;
    
    }
    .show{
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    
    }


/* footer styles */
 
/* mobile design */
@media only screen and (max-width: 1200px) {
    body {
      background-color: lightblue;
    }

    .banner
    {
        position: relative;
        width: 100%;
        background: black;
    }

    .banner .mb-clm div {
        flex-direction: column;
        height: 70vh;
    }

    .img-box{
        display: inline-block;
        width: 20vw;
        height: 20vh;
    }

    .banner .mb-clm div p,
    .banner .mb-clm div h1
    {
        text-align: center;
        padding: 0 15px;
    }

    .banner .mb-clm img{
        width: 90vw;
        height: 400px;
        box-shadow: 8px -6px orange;
        padding: 5px;
    }
    
    /* FOOTER */
    footer .footer_menu{
        list-style: none;
        position: relative;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
    
    }
  }

